export DOES_PROJECT_DIR=/Users/nikolaj4o/Desktop/things/artemis
# name of ssh key used for setting up access to aws machines
export DOES_SSH_KEY_NAME=~/.ssh/navramov_ire.cer
export DOES_PROJECT_ID_SUFFIX=nea
export DOES_AWS_USER=ubuntu
# export PYTHONPATH=doe-suite python3.9 doe-suite/doespy/doespy/etl/super_etl.py

