export DOES_PROJECT_ID_SUFFIX=NA
export DOES_AWS_USER=ubuntu
export DOES_PROJECT_DIR='/Users/nikolaj4o/artemis'
export DOES_CLOUD=aws
export DOES_SSH_KEY_NAME='navramov'
export PYTHONPATH="${PYTHONPATH}:/Users/nikolaj4o/artemis/doe-suite-config"
